* {
  engine: adwaita;
  padding: 1px;
  -GtkToolButton-icon-spacing: 4;

    -GtkTextView-error-underline-color: @error_color;

    -GtkPaned-handle-size: 5;

    -GtkCheckButton-indicator-size: 16px;
    -GtkCheckMenuItem-indicator-size: 16px;

  -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;

    -GtkToolItemGroup-expander-size: 11;
    -GtkExpander-expander-size: 11;

    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 0;

    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkHTML-link-color: @link_color;

    -WnckTasklist-fade-overlay-rect: 0;

    -GtkWidget-focus-padding: 2;
    -GtkWidget-focus-line-width: 1;
    

  -adwaita-focus-border-color: rgba(26, 26, 26, 0.4);
  -adwaita-focus-border-radius: 2;
  -adwaita-focus-fill-color: rgba(255, 255, 255, 0);
  -adwaita-focus-border-gradient: none;
  -adwaita-focus-border-dashes: 1;
}
*:hover {
  background-color: #f1f1f1;
}
*:selected,
*:selected:focused {
  background-color: #97bf60;
  color: #ffffff;
}
*:insensitive {
  color: rgba(68, 68, 68, 0.6);
  border-color: #444444;
}
*:active {
  color: #111111;
}
GtkWindow {
  color: #101010;
  background-color: #d5dad5;
}
.tooltip {
  padding: 4px 4px;
  border-style: none;
  background-color: #ffffff;
  color: #000000;
  border-color: #5e7f3e;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.tooltip * {
  background-color: transparent;
  border-style: none;
}
.grip {
  background-color: #888888;
}
.rubberband,
.view.rubberband {
  background-color: rgba(151, 191, 96, 0.35);
  border-color: #97bf60;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.separator {
  color: #888;
  background-color: #999;
}
.pane-separator {
  color: #888;
  background-color: #d5dad5;
}
.pane-separator:prelight,
.pane-separator:selected {
  color: #5e7f3e;
}
GtkStatusbar {
  padding: 5px;
  color: #101010;
  -GtkStatusbar-shadow-type: none;

}
.dnd {
  border-width: 1px;
  border-style: solid;
  border-color: #97bf60;
  border-radius: 2px;
}
.entry,
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:prelight,
.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:prelight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#e1e1e1), color-stop(0.2, #f8f8f8), color-stop(0.85, #fafafa), to(#ffffff));
}
.entry {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #5e7f3e;
  padding: 4px;
  
    -GtkEntry-inner-border: 5;
    -GtkEntry-progress-border: 0;
    

  color: #444444;
}
.entry:insensitive {
  background-color: rgba(244, 244, 242, 0.3);
  background-image: none;
  border-image: none;
  border-style: solid;
}
.entry.progressbar {
  background-color: #97bf60;
  color: #ffffff;
  border-width: 1px;
  border-radius: 3px;
  -adwaita-progressbar-pattern: none;
}
.entry.image {
  color: #888a85;
}
.entry.image:prelight {
  color: #1a1a1a;
}
.spinbutton.button {
  color: #888a85;
}
.spinbutton.button,
.spinbutton.button:prelight,
.spinbutton.button:active,
.spinbutton.button:focused,
.spinbutton.button:insensitive {
  background-image: none;
  background-color: transparent;
  border-style: none;
  border-image: none;
}
.spinbutton.button:prelight,
.spinbutton.button:active {
  color: #1a1a1a;
}
.spinbutton.button:insensitive {
  color: #444444;
}
.spinbutton.entry {
  padding: 0px 6px 0px 1px;
}
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:focused {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#699240), to(#465a33));
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  -adwaita-progressbar-pattern: -gtk-gradient(linear, "left top", "right bottom", from(rgba(34, 34, 34, 0)), color-stop(0.49, rgba(34, 34, 34, 0)), color-stop(0.5, rgba(34, 34, 34, 0.1)), to(rgba(34, 34, 34, 0.1)));
}
.progressbar.vertical {
  background-image: -gtk-gradient(linear, left top, right top, from(#699240), to(#465a33));
  -adwaita-progressbar-pattern: -gtk-gradient(linear, "left bottom", "right top", from(rgba(34, 34, 34, 0)), color-stop(0.49, rgba(34, 34, 34, 0)), color-stop(0.5, rgba(34, 34, 34, 0.1)), to(rgba(34, 34, 34, 0.1)));
}
GtkProgressBar,
.trough row {
  padding: 0px;
  
    -GtkProgressBar-xspacing: 22;
    -GtkProgressBar-yspacing: 22;
    

}
.trough,
.trough row,
.trough row:hover {
  background-color: #bbb;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #aaa;
}
.trough:insensitive,
.trough.vertical:insensitive {
  background-color: rgba(244, 244, 242, 0.3);
  background-image: none;
}
.trough.vertical {
  background-image: -gtk-gradient(linear, left top, right top, from(#888888), to(#bbbbbb));
}
.trough {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#888888), to(#bbbbbb));
}
.trough row:selected,
.trough row:selected:focused {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#97bf60), to(#97bf60));
}
GtkScale {
  
    -GtkScale-slider-length: 25;
    -GtkRange-slider-width: 14;
    -GtkRange-trough-border: 0;
    

}
GtkScale.slider,
GtkScale.slider:hover,
GtkScale.slider:insensitive {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#f4f6f4), to(#d7dad7));
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: #888;
}
GtkScale.progressbar {
  border-radius: 1px;
  border-style: solid;
  border-color: #999;
  border-width: 1px;
  -adwaita-progressbar-pattern: none;
}
GtkScale.mark {
  color: #444;
}
.frame {
  padding: 2px;
  border-width: 0px;
}
GtkScrolledWindow.frame {
  border-style: none;
  border-color: #c7cec7;
  border-width: 1px;
  border-radius: 2px;
  padding: 0px;
}
.button,
.toolbar.button {
  padding: 0px;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  -adwaita-focus-border-radius: 2;
  -adwaita-focus-border-dashes: 0;
  -adwaita-border-gradient: -gtk-gradient(linear, left top, left bottom, from(#c2c2c5), to(#9e9ea2));
  
    -GtkWidget-focus-line-width: 0;
    

  background-image: -gtk-gradient(linear, left top, left bottom, from(#fbfbfb), to(#c5c5c9));
  background-color: transparent;
}
.button *,
.toolbar.button * {
  background-color: transparent;
}
.button:hover,
.toolbar.button:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#e2e2e2), to(#ababb0));
}
.button:focused,
.toolbar.button:focused {
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  -adwaita-border-gradient: -gtk-gradient(linear, left top, left bottom, from(#a4aa9e), to(#8a9184));
  background-image: -gtk-gradient(linear, left top, left bottom, from(#dce3d4), to(#b2bca7));
}
.button:insensitive,
.toolbar.button:insensitive {
  background-image: none;
  background-color: rgba(244, 244, 242, 0.3);
  color: #444444;
}
.button:active,
.toolbar.button:active,
.button:active:focused,
.toolbar.button:active:focused {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#90b958), to(#80a54d));
}
.button:active:hover,
.toolbar.button:active:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#a8c87c), to(#99ba6b));
}
.button:active:insensitive,
.toolbar.button:active:insensitive {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#ccdfb2), to(#bdd29f));
}
.button.default,
.toolbar.button.default {
  border-color: #5e7f3e;
}
.linked .button,
.linked .toolbar.button {
  border-width: 1px 0px 1px 0px;
  border-radius: 0px;
}
.linked .button:first-child,
.linked .toolbar.button:first-child {
  border-width: 1px 0px 1px 1px;
  border-radius: 2px 0px 0px 2px;
}
.linked .button:last-child,
.linked .toolbar.button:last-child {
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 2px 2px 0px;
}
.linked .button:only-child,
.linked .toolbar.button:only-child {
  border-width: 1px;
  border-radius: 2px;
}
.notebook {
  padding: 3px;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  background-color: #eceeec;
  
    -GtkNotebook-tab-overlap: 0;
    -GtkNotebook-tab-curvature: 2;
    

}
.notebook tab {
  padding: 5px 3px 0px 3px;
  background-image: -gtk-gradient(linear, left top, left bottom, from(#eeeeee), to(#d5dad5));
  -adwaita-focus-border-radius: 4;
  -adwaita-selected-tab-color: #97bf60;
  color: #444;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
}
.notebook tab:active {
  -adwaita-border-gradient: -gtk-gradient(linear, left top, left bottom, from(#aaaaaa), to(#aaaaaa));
  background-image: -gtk-gradient(linear, left top, left bottom, from(#f6f7f6), to(#ebeeeb));
  color: #222;
  border-radius: 4px;
  border-bottom-color: #444;
}
.notebook tab .button,
.notebook tab .button:hover,
.notebook tab .button:hover:active {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #999;
}
GtkComboBox {
  padding: 0px;
  
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 0;

    -GtkComboBox-arrow-scaling: 0.4;
    -GtkComboBox-shadow-type: none;
    

}
GtkComboBox .serparator {
  
        -GtkWidget-wide-separators: true;
        -GtkWidget-horizontal-separator: 0;
        -GtkWidget-vertical-separator: 0;
        

}
GtkComboBox .entry {
  border-width: 1px;
  border-radius: 3px 0px 0px 3px;
  border-color: #aaa;
  border-style: solid;
}
GtkComboBox .button {
  color: #444;
  padding: 2px 3px 2px 6px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid;
}
.primary-toolbar GtkComboBox.combobox-entry .button,
* GtkComboBox.combobox-entry .button {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#f4f6f4), to(#d7dad7));
  border-radius: 0px 4px 4px 0px;
  border-width: 1px 1px 1px 0px;
  border-color: #aaa;
  border-style: solid;
  padding: 2px 3px;
}
.primary-toolbar GtkComboBox.combobox-entry .button *:active,
* GtkComboBox.combobox-entry .button *:active,
.primary-toolbar GtkComboBox.combobox-entry .button *:prelight,
* GtkComboBox.combobox-entry .button *:prelight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  color: #444;
}
.primary-toolbar GtkComboBox.combobox-entry .button:active,
* GtkComboBox.combobox-entry .button:active,
.primary-toolbar GtkComboBox.combobox-entry .button:hover:active,
* GtkComboBox.combobox-entry .button:hover:active {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#97bf60), to(#97bf60));
}
.scrollbar {
  background-image: none;
  border-style: solid;
  
    -GtkRange-trough-border: 0;
    -GtkRange-arrow-scaling: 0.444;
    -GtkRange-slider-width: 15;
    -GtkRange-stepper-size: 15;
    -GtkScrollbar-min-slider-length: 35;

    -GtkRange-stepper-spacing: 1;
    -GtkRange-trough-under-steppers: 0;
    

}
.scrollbar.vertical.trough {
  background-color: #ddd;
  border-width: 1px;
  background-image: -gtk-gradient(linear, left top, right top, from(#bbbbbc), to(#d8d8d8));
  -adwaita-border-gradient: -gtk-gradient(linear, left top, left bottom, from(#9f9fa0), to(#bbbbbc));
  border-radius: 0px;
}
.scrollbar.vertical.slider,
.scrollbar.vertical.button {
  background-image: -gtk-gradient(linear, left top, right top, from(#f0f0f0), to(#d1d1d2));
  border-color: #868687;
  border-radius: 0px;
  border-width: 1px;
}
.scrollbar.vertical.slider:prelight {
  background-image: -gtk-gradient(linear, left top, right top, from(#dae0d4), to(#c6cbc1));
  border-color: #7b7b7d;
}
.scrollbar.vertical.slider:prelight:active {
  background-image: -gtk-gradient(linear, left top, right top, from(#f0f0f0), to(#d1d1d2));
  border-color: #a4a4a5;
}
.scrollbar.vertical.slider:insensitive {
  background-color: #e0e0e0;
}
.scrollbar.horizontal.trough {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#bbbbbc), to(#d8d8d8));
  -adwaita-border-gradient: -gtk-gradient(linear, left top, left bottom, from(#9f9fa0), to(#bbbbbc));
  border-width: 1px;
  border-radius: 0px;
}
.scrollbar.horizontal.slider,
.scrollbar.horizontal.button {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d1d1d2));
  border-color: #868687;
  border-radius: 0px;
  border-width: 1px;
}
.scrollbar.horizontal.slider:prelight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#dae0d4), to(#c6cbc1));
  border-color: #7b7b7d;
}
.scrollbar.horizontal.slider:prelight:active {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d1d1d2));
  border-color: #868687;
}
.scrollbar.horizontal.slider:insensitive {
  background-color: #e0e0e0;
}
.menu {
  background-color: #e5e5e5;
  color: #1a1a1a;
  padding: 0px;
  border-style: solid;
  border-color: #333;
  border-width: 1px;
}
.menubar {
  background-color: #e5e5e5;
  border-color: #333;
  border-width: 0px;
  border-style: none;
  padding: 4px;
  color: #1a1a1a;
  
    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 0;
    

}
.menubar .menuitem {
  border-width: 0px;
  border-style: none;
  padding: 3px 5px;
}
.menubar .menuitem *:prelight {
  color: #ffffff;
}
.menubar .menuitem.separator {
  color: #292929;
  text-shadow: #fff 0px 1px 1px;
  
            -GtkSeparatorMenuItem-horizontal-padding: 0;
            

}
.menuitem {
  
    -GtkMenuItem-arrow-scaling: 0.4;
    

  -adwaita-menuitem-arrow-color: #1a1a1a;
}
.menuitem:active,
.menuitem:prelight {
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  border-color: #5f744b;
}
.menuitem:active,
.menuitem *:active,
.menuitem:prelight,
.menuitem *:prelight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#90b958), to(#80a54d));
  color: #1a1a1a;
}
.menuitem .accelerator {
  color: #343434;
}
.menuitem.separator {
  color: #292929;
  text-shadow: #fff 0px 1px 1px;
  
        -GtkSeparatorMenuItem-horizontal-padding: 0;
        

}
.menuitem.menubar.button:active,
.menuitem.menubar.button *:active {
  color: #1a1a1a;
  background-image: none;
  background-color: #d5dad5;
  border-radius: 5px 5px 0px 0px;
  border-image: none;
  border-width: 1px 1px 0px 1px;
  border-color: #5a5f5a;
  border-style: solid;
}
.radio,
.check {
  background-color: transparent;
  border-width: 0px;
  border-style: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.radio:prelight,
.check:prelight {
  background-color: transparent;
}
.toolbar {
  border-style: solid;
  border-color: #bac2ba;
  border-width: 1px 0px 1px 0px;
  padding: 4px;
}
.toolbar .button {
  padding: 2px;
}
.toolbar:insensitive {
  color: rgba(16, 16, 16, 0.6);
}
.toolbar.menubar {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#d5dad5), to(#e0e4e0));
  border-width: 0px;
  border-style: none;
  
        -GtkToolbar-button-relief: normal;
        

}
.primary-toolbar.toolbar,
.primary-toolbar .toolbar {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#e5e5e5), to(#d5dad5));
  border-width: 1px 0px 1px 0px;
  border-radius: 0px;
  border-style: solid;
  border-top-color: #ccc;
  border-bottom-color: #bbb;
  
        -GtkWidget-window-dragging: true;
        -GtkToolbar-button-relief: normal;
        

}
.primary-toolbar.toolbar:insensitive,
.primary-toolbar .toolbar:insensitive {
  background-image: none;
  background-color: #dde1dd;
  border-image: none;
  border-style: solid;
  border-color: #edefed;
}
.primary-toolbar.toolbar .button,
.primary-toolbar .toolbar .button {
  border-style: none;
  border-image: none;
  border-radius: 4px;
  background-image: none;
  background-color: transparent;
  -adwaita-focus-border-radius: 3;
  -adwaita-focus-fill-color: rgba(255, 255, 255, 0.2);
  -adwaita-border-gradient: -gtk-gradient(linear, left top, left bottom, from(rgba(77, 77, 68, 0.9)), to(rgba(144, 144, 129, 0.62)));
}
.primary-toolbar.toolbar .button *,
.primary-toolbar .toolbar .button * {
  background-color: transparent;
}
.primary-toolbar.toolbar .button:hover,
.primary-toolbar .toolbar .button:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #999;
  padding: 0px;
}
.primary-toolbar.toolbar .button:active,
.primary-toolbar .toolbar .button:active {
  background-image: -gtk-gradient(linear, left top, left bottom, from(rgba(216, 216, 216, 0)), to(#bfbfbf));
  color: #444;
  box-shadow: inset 1px 1px #ccc;
}
.primary-toolbar.toolbar .button:active:hover,
.primary-toolbar .toolbar .button:active:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(rgba(219, 219, 219, 0.7)), to(rgba(255, 255, 255, 0)));
}
.primary-toolbar.toolbar .button *:active,
.primary-toolbar .toolbar .button *:active {
  color: #101010;
}
.primary-toolbar.toolbar GtkSeparatorToolItem,
.primary-toolbar .toolbar GtkSeparatorToolItem {
  color: #a1a1a1;
}
GtkSwitch {
  font: bold condensed 10;
}
GtkSwitch.trough {
  color: #444;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  border-image: none;
  background-color: #bbb;
  background-image: none;
}
GtkSwitch.trough:active {
  color: #fff;
  border-color: #555;
  background-image: -gtk-gradient(linear, left top, left bottom, from(#90b958), to(#80a54d));
}
GtkSwitch.slider {
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: #999;
  padding: 2px;
  background-image: -gtk-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  -adwaita-switch-grip-color: #888;
}
GtkSwitch.slider:active {
  border-color: #444;
}
GtkViewport,
GtkIconView {
  border-radius: 3px;
  padding: 0px;
}
GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
  background-color: #97bf60;
  border-radius: 4px;
  -adwaita-focus-border-color: #5e7f3e;
  -adwaita-focus-border-radius: 3;
  -adwaita-focux-border-dashes: 0;
}
.view {
  background-color: #ffffff;
  color: #101010;
  border-radius: 0px;
}
GtkTreeView {
  
    -GtkTreeView-vertical-separator: 0;
    -GtkTreeView-expander-size: 17;

    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding: 1;
    

  -adwaita-focus-border-radius: 2;
  -adwaita-focus-border-dashed: 1;
  -adwaita-focus-border-color: #b6d290;
}
column-header {
  padding: 1px 2px;
}
column-header .button {
  border-width: 0px 1px 1px 0px;
  border-radius: 0px;
  border-style: solid;
  border-image: -gtk-gradient(linear, left top, left bottom, from(#a7aba7), to(#6c716c)) 1 stretch;
}
column-header .button GtkArrow {
  color: #888a85;
}
column-header:nth-child(last) .button {
  border-width: 0px 0px 1px 0px;
}
row {
  border-width: 0px;
}
row:prelight,
row *:prelight {
  background-image: -gtk-gradient(linear, left top, left bottom, from(#b4d08e), to(#a5c27c));
}
