@base_color: #fff;
@text_color: #1a1a1a;
@bg_color:   #d5dad5;
@fg_color:   #101010;
@tooltip_fg_color: #000;
@tooltip_bg_color: #fff;
@selected_bg_color: #97bf60;
@selected_fg_color: #fff;
@insensitive_bg_color: fade(#f4f4f2, 30%);
@insensitive_fg_color: #444;
@insensitive_border_color: #444;
@active_fg_color: #111;
@border_color: #5e7f3e;
@grip_color: #888;
@entry_color: #444;
@internal_element_color:    #888a85;
@internal_element_prelight: @text_color;
@internal_element_insensitive: lighten(@internal_element_color, 30%);
@tab_gradient_unselected_color_a: #eee;
@tab_gradient_unselected_color_b: @bg_color;

@button_gradient_color_a: #f4f6f4;
@button_gradient_color_b: #d7dad7;
@button_border:           #a7aba7;

@button_active_gradient_color_a: @selected_bg_color;
@button_active_gradient_color_b: lighten(@button_active_gradient_color_a, 0.06);
@button_hover_gradient_color_a: @base_color;
@button_hover_gradient_color_b: lighten(@button_hover_gradient_color_a, 0.06);

@progressbar_background_a: #699240;
@progressbar_background_b: #465a33;
@progressbar_pattern:      #222;

@trough_bg_color_a: #888;
@trough_bg_color_b: #bbb;

@notebook_border: #aaa;
@notebook_active_tab_border: #aaa;
@notebook_selected_tab_color: #aaa;

@notebook_tab_gradient_a: #f6f7f6;
@notebook_tab_gradient_b: #ebeeeb;

@menu_prelight_top: #90B958;
@menu_prelight_bottom: #80A54D;

@menu_bg_color: darken(@bg_color, 0.1);
@menu_fg_color: @fg_color;

@toolbar_gradient_base: #e5e5e5;
@toolbar_gradient_step1: #e5e5e5;
@toolbar_gradient_step2: #d5dad5;
@toolbar_gradient_final: #d5dad5;

@toolbar_active_button_color: #909081;

@entry_background_a: #e1e1e1;
@entry_background_b: #f8f8f8;
@entry_background_c: #fafafa;
@entry_background_d: @base_color;

.adwaita_gradient (@start, @end, @grad2: left bottom) {
    .gtk_generic_gradient(-adwaita-border-gradient,
                          @start, @end, @grad2);
}

.gtk_gradient(@start, @end, @grad2: left bottom) {
    .gtk_generic_gradient(background-image, @start, @end, @grad2)
}

.gtk_generic_gradient (@item,
                       @start, @end,
                       @grad2: left bottom, @grad1: left top) {
    // Hack to make less parse this happily
    dummy: ~"@{item}:" -gtk-gradient(linear,
                                     @grad1, @grad2,
                                     from(@start), to(@end));
}

.gtk_gradient_2_stop(@start, @s1, @s1_c,
                     @s2, @s2_c, @end, @grad2: left bottom) {
    .gtk_generic_gradient_2_stop(background-image,
                                 @start, @s1, @s1_c,
                                 @s2, @s2_c, @end, @grad2);
}

.gtk_generic_gradient_2_stop(@item,
                             @start, @s1, @s1_c, @s2, @s2_c, @end,
                             @grad2: left bottom, @grad1: left top) {
    dummy: ~"@{item}:" -gtk-gradient(linear,
                                    @grad1, @grad2,
                                    from(@start),
                                    color-stop(@s1, @s1_c),
                                    color-stop(@s2, @s2_c),
                                    to(@end));
}

* {
    engine: adwaita;
    padding: 1px;

    // Style properties
    /*-GtkToolButton-icon-spacing: 4;

    -GtkTextView-error-underline-color: @error_color;

    -GtkPaned-handle-size: 5;

    -GtkCheckButton-indicator-size: 16px;
    -GtkCheckMenuItem-indicator-size: 16px;*/

    // The size for scrollbars. The slider is 2px smaller, but we keep it
    // up so that the whole area is sensitive to button presses for the
    // slider. The stepper button is larger in both directions, the slider
    // only in the width

    /*-GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;

    -GtkToolItemGroup-expander-size: 11;
    -GtkExpander-expander-size: 11;

    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 0;

    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkHTML-link-color: @link_color;

    -WnckTasklist-fade-overlay-rect: 0;

    -GtkWidget-focus-padding: 2;
    -GtkWidget-focus-line-width: 1;

    -GtkWindow-resize-grip-width: 0;
    -GtkWindow-resize-grip-height: 0;
    */

    -adwaita-focus-border-color: fade(@text_color, 40%);
    -adwaita-focus-border-radius: 2;
    -adwaita-focus-fill-color: fade(@base_color, 0%);
    -adwaita-focus-border-gradient: none;
    -adwaita-focus-border-dashes: 1;

    &:hover {
        background-color: #f1f1f1;
    }

    &:selected, &:selected:focused {
        background-color: @selected_bg_color;
        color: @selected_fg_color;
    }

    &:insensitive {
        color: fade(@insensitive_fg_color, 60%);
        border-color: @insensitive_border_color;
    }

    &:active {
        color: @active_fg_color;
    }
}

GtkWindow {
    color: @fg_color;
    background-color: @bg_color;
}

.tooltip {
    padding: 4px 4px;
    border-style: none;
    background-color: @tooltip_bg_color;
    color: @tooltip_fg_color;
    border-color: @border_color;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;

    * {
        background-color: transparent;
        border-style: none;
    }
}

.grip {
    //background-color: @grip_color;
}

.rubberband,
.view.rubberband {
    background-color: fade(@selected_bg_color, 35%);

    border-color: @selected_bg_color;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

.separator {
    color: #888;
    background-color: #999;
}

.pane-separator {
    color: #888;
    background-color: @bg_color;

    &:prelight, &:selected {
        color: @border_color;
    }
}

GtkStatusbar {
    padding: 5px;
    color: @fg_color;
    /*-GtkStatusbar-shadow-type: none;*/
}

.dnd {
    border-width: 1px;
    border-style: solid;
    border-color: @selected_bg_color;
    border-radius: 2px;
}

.entry,
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:prelight,
.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:prelight {
    .gtk_gradient_2_stop(@entry_background_a,
                         0.20, @entry_background_b,
                         0.85, @entry_background_c,
                         @entry_background_d);
}

.entry {
    background-color: @base_color;
    border-style: solid;
    border-width: 1px;
    border-color: @border_color;

    padding: 4px;
    /*
    -GtkEntry-inner-border: 5;
    -GtkEntry-progress-border: 0;
    */
    color: @entry_color;

    &:insensitive {
        background-color: @insensitive_bg_color;
        background-image: none;

        border-image: none;
        border-style: solid;
    }

    &.progressbar {
        background-color: @selected_bg_color;
        color: @selected_fg_color;

        border-width: 1px;
        border-radius: 3px;

        -adwaita-progressbar-pattern: none;
    }

    &.image {
        color: @internal_element_color;

        &:prelight {
            color: @internal_element_prelight;
        }
    }
}

.spinbutton {

    &.button {

        &, &:prelight, &:active, &:focused, &:insensitive {
            background-image: none;
            background-color: transparent;

            border-style: none;
            border-image: none;
        }

        color: @internal_element_color;

        &:prelight, &:active {
            color: @internal_element_prelight;
        }

        &:insensitive {
            color: @insensitive_border_color;
        }
    }

    &.entry {
        padding: 0px 6px 0px 1px;
    }
}

.adwaita_progressbar_pattern(@begin, @end) {
    .gtk_generic_gradient_2_stop(-adwaita-progressbar-pattern,
                                  fade(@progressbar_pattern, 0),
                                  0.49, fade(@progressbar_pattern, 0),
                                  0.5, fade(@progressbar_pattern, 10%),
                                  fade(@progressbar_pattern, 10%),
                                  @end, @begin);
}

.progressbar {
    &, row, row:hover, row:selected, row:focused {
        .gtk_gradient(@progressbar_background_a,
                      @progressbar_background_b);
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: #aaa;

        .adwaita_progressbar_pattern("left top", "right bottom");
    }

    &.vertical {
        .gtk_gradient(@progressbar_background_a,
                      @progressbar_background_b,
                      right top);
        .adwaita_progressbar_pattern("left bottom", "right top");
    }
}

GtkProgressBar, .trough row {
    padding: 0px;
    /*
    -GtkProgressBar-xspacing: 22;
    -GtkProgressBar-yspacing: 22;
    */
}

.trough {
    &, row, row:hover {
        background-color: #bbb;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        border-color: #aaa;
    }

    &:insensitive, &.vertical:insensitive {
        background-color: @insensitive_bg_color;
        background-image: none;
    }

    &.vertical {
        .gtk_gradient(@trough_bg_color_a,
                      @trough_bg_color_b,
                      right top);
    }

    & {
        .gtk_gradient(@trough_bg_color_a,
                      @trough_bg_color_b);
    }

    row:selected, row:selected:focused {
        .gtk_gradient(mix(@trough_bg_color_a, @selected_bg_color, 0.25),
                      mix(@trough_bg_color_b, @selected_bg_color, 0.25));
    }
}

GtkScale {
    /*
    -GtkScale-slider-length: 25;
    -GtkRange-slider-width: 14;
    -GtkRange-trough-border: 0;
    */

    &.slider, &.slider:hover, &.slider:insensitive {
        .gtk_gradient(@button_gradient_color_a,
                      @button_gradient_color_b);
        border-width: 1px;
        border-radius: 3px;
        border-style: solid;
        border-color: #888;
    }

    &.progressbar {
        border-radius: 1px;
        border-style: solid;
        border-color: #999;
        border-width: 1px;

        -adwaita-progressbar-pattern: none;
    }

    &.mark {
        color: #444;
    }
}

.frame {
    padding: 2px;
    border-width: 0px;
}

GtkScrolledWindow.frame {
    border-style: none;
    border-color: darken(@bg_color, 5%);
    border-width: 1px;
    border-radius: 2px;

    padding: 0px;
}

.button, .toolbar.button {
    padding: 0px;

    border-style: solid;
    border-radius: 2px;
    border-width: 1px;

    -adwaita-focus-border-radius: 2;
    -adwaita-focus-border-dashes: 0;
    .adwaita_gradient(#c2c2c5, #9e9ea2);

    /*
    -GtkWidget-focus-line-width: 0;
    */
    .gtk_gradient(#fbfbfb, #c5c5c9);

    background-color: transparent;

    * {
        background-color: transparent;
    }

    &:hover {
        .gtk_gradient(darken(#fbfbfb, 10%), darken(#c5c5c9, 10%));
    }

    &:focused {
        border-style: solid;
        border-radius: 2px;
        border-width: 1px;
        .adwaita_gradient(#a4aa9e, #8a9184);
        .gtk_gradient(#dce3d4, #b2bca7);
    }

    &:insensitive {
        background-image: none;
        background-color: @insensitive_bg_color;
        color: @insensitive_fg_color;
    }

    &:active {
        &, &:focused {
            .gtk_gradient(@menu_prelight_top, @menu_prelight_bottom);
        }

        &:hover {
            .gtk_gradient(lighten(@menu_prelight_top, 10%),
                          lighten(@menu_prelight_bottom, 10%));
        }

        &:insensitive {
            .gtk_gradient(lighten(@menu_prelight_top, 25%),
                          lighten(@menu_prelight_bottom, 25%));
        }
    }

    &.default {
        border-color: @border_color;
    }

    .linked & {
        border-width: 1px 0px 1px 0px;
        border-radius: 0px;

        &:first-child {
            border-width: 1px 0px 1px 1px;
            border-radius: 2px 0px 0px 2px;
        }

        &:last-child {
            border-width: 1px 1px 1px 0px;
            border-radius: 0px 2px 2px 0px;
        }

        &:only-child {
            border-width: 1px;
            border-radius: 2px;
        }

    }
}

.notebook {
    padding: 3px;

    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;

    background-color: #eceeec;

    /*
    -GtkNotebook-tab-overlap: 0;
    -GtkNotebook-tab-curvature: 2;
    */

    tab {
        padding: 5px 3px 0px 3px;

        .gtk_gradient(@tab_gradient_unselected_color_a,
                      @tab_gradient_unselected_color_b);


        -adwaita-focus-border-radius: 4;
        -adwaita-selected-tab-color: @selected_bg_color;

        color: #444;
        border-color: #aaa;
        border-style: solid;
        border-width: 1px;

        &:active {
            .adwaita_gradient(@notebook_active_tab_border,
                              @notebook_border);
            .gtk_gradient(@notebook_tab_gradient_a,
                          @notebook_tab_gradient_b);
            color: #222;
            border-radius: 4px;
            border-bottom-color: #444;
        }

        .button, .button:hover, .button:hover:active {
            .gtk_gradient(@button_hover_gradient_color_a,
                          @button_hover_gradient_color_b);

            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #999;
        }
    }
}

GtkComboBox {
    padding: 0px;
    /*
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 0;

    -GtkComboBox-arrow-scaling: 0.4;
    -GtkComboBox-shadow-type: none;
    */

    .serparator {
        /*
        -GtkWidget-wide-separators: true;
        -GtkWidget-horizontal-separator: 0;
        -GtkWidget-vertical-separator: 0;
        */
    }

    .entry {
        border-width: 1px;
        border-radius: 3px 0px 0px 3px;
        border-color: #aaa;
        border-style: solid;
    }

    .button {
        color: #444;
        padding: 2px 3px 2px 6px;
        border-radius: 4px;
        border-width: 1px;
        border-color: #aaa;
        border-style: solid;
    }
}

.primary-toolbar, * {
    GtkComboBox.combobox-entry .button {
        .gtk_gradient(@button_gradient_color_a,
                      @button_gradient_color_b);

        border-radius: 0px 4px 4px 0px;
        border-width: 1px 1px 1px 0px;
        border-color: #aaa;
        border-style: solid;

        padding: 2px 3px;

        *:active, *:prelight {
            .gtk_gradient(@button_hover_gradient_color_a,
                          @button_hover_gradient_color_b);
            color: #444;
        }

        &:active, &:hover:active {
            .gtk_gradient(@button_active_gradient_color_a,
                          @button_active_gradient_color_b);

        }
    }
}

.scrollbar {
    background-image: none;
    border-style: solid;
    /*
    -GtkRange-trough-border: 0;
    -GtkRange-arrow-scaling: 0.444;
    -GtkRange-slider-width: 15;
    -GtkRange-stepper-size: 15;
    -GtkScrollbar-min-slider-length: 35;

    -GtkRange-stepper-spacing: 1;
    -GtkRange-trough-under-steppers: 0;
    */

    &.vertical {
        &.trough {
            background-color: #ddd;
            border-width: 1px;

            .gtk_gradient(lighten(#959596, 15%),
                          lighten(#959596, 26%),
                          right top);
            .adwaita_gradient(lighten(#959596, 4%),
                              lighten(#959596, 15%));

            border-radius: 0px;
        }

        &.slider, &.button {
            .gtk_gradient(lighten(#dbdbdc, 8%),
                          darken(#dbdbdc, 4%),
                          right top);
            border-color: darken(#959596, 6%);
            border-radius: 0px;
            border-width: 1px;
        }

        &.slider {
            &:prelight {
                .gtk_gradient(#dae0d4, #c6cbc1, right top);
                border-color: darken(#959596, 10%);

                &:active {
                    .gtk_gradient(lighten(#dbdbdc, 8%),
                                  darken(#dbdbdc, 4%),
                                  right top);
                    border-color: lighten(#959596, 6%);
                }
            }

            &:insensitive {
                background-color: darken(@base_color, 12%);
            }
        }
    }

    &.horizontal {
        &.trough {
            .gtk_gradient(lighten(#959596, 15%),
                          lighten(#959596, 26%));
            .adwaita_gradient(lighten(#959596, 4%),
                              lighten(#959596, 15%));
            border-width: 1px;
            border-radius: 0px;
        }

        &.slider, &.button {
            .gtk_gradient(lighten(#dbdbdc, 8%),
                          darken(#dbdbdc, 4%));
            border-color: darken(#959596, 6%);
            border-radius: 0px;
            border-width: 1px;
        }

        &.slider {
            &:prelight {
                .gtk_gradient(#dae0d4, #c6cbc1);
                border-color: darken(#959596, 10%);

                &:active {
                    .gtk_gradient(lighten(#dbdbdc, 8%),
                                  darken(#dbdbdc, 4%));
                    border-color: darken(#959596, 6%);
                }
            }

            &:insensitive {
                background-color: darken(@base_color, 12%);
            }
        }
    }
}

.menu {
    background-color: #e5e5e5;
    color: @text_color;
    padding: 0px;
    border-style: solid;
    border-color: #333;
    border-width: 1px;
}

.menubar {
    background-color: #e5e5e5;
    border-color: #333;
    border-width: 0px;
    border-style: none;
    padding: 4px;
    color: @text_color;

    /*
    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 0;
    */

    .menuitem {
        border-width: 0px;
        border-style: none;
        padding: 3px 5px;

        *:prelight {
            color: @selected_fg_color;
        }

        &.separator {
            color: #292929;
            text-shadow: #fff 0px 1px 1px;

            /*
            -GtkSeparatorMenuItem-horizontal-padding: 0;
            */
        }
    }
}

.menuitem {
    /*
    -GtkMenuItem-arrow-scaling: 0.4;
    */

    -adwaita-menuitem-arrow-color: @text_color;

    &:active, &:prelight {
        border-style: solid;
        border-width: 1px;
        border-radius: 0px;
        border-color: #5f744b;
    }

    &, * {
        &:active, &:prelight {
            .gtk_gradient(@menu_prelight_top,
                          @menu_prelight_bottom);
            color: @text_color;
        }
    }

    .accelerator {
        color: lighten(@text_color, 10%);
    }

    &.separator {
        color: #292929;
        text-shadow: #fff 0px 1px 1px;
        background-image: none;
        padding: 0px;

        /*
        -GtkSeparatorMenuItem-horizontal-padding: 0;
        */
    }

    &.menubar.button {
        &, * {
            &:active {
                color: @text_color;
                background-image: none;
                background-color: @menu_bg_color;

                border-radius: 5px 5px 0px 0px;
                border-image: none;
                border-width: 1px 1px 0px 1px;
                border-color: darken(@button_border, 30%);
                border-style: solid;
            }
        }
    }
}

.radio, .check {
    background-color: transparent;
    border-width: 0px;
    border-style: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &:prelight {
        background-color: transparent;
    }
}

.toolbar {
    border-style: solid;
    border-color: darken(@bg_color, 10%);
    border-width: 1px 0px 1px 0px;
    padding: 4px;

    .button {
        padding: 2px;
    }

    &:insensitive {
        color: fade(@fg_color, 60%);
    }

    &.menubar {
        .gtk_gradient(@bg_color, lighten(@bg_color, 4%));

        border-width: 0px;
        border-style: none;

        /*
        -GtkToolbar-button-relief: normal;
        */
    }
}

.primary-toolbar {
    &.toolbar, .toolbar {
        .gtk_gradient(@toolbar_gradient_base, @toolbar_gradient_final);

        border-width: 1px 0px 1px 0px;
        border-radius: 0px;
        border-style: solid;
        border-top-color: #ccc;
        border-bottom-color: #bbb;

        /*
        -GtkWidget-window-dragging: true;
        -GtkToolbar-button-relief: normal;
        */

        &:insensitive {
            background-image: none;
            background-color: lighten(@bg_color, 3%);

            border-image: none;
            border-style: solid;
            border-color: lighten(@bg_color, 9%);
        }

        .button {
            border-style: none;
            border-image: none;
            border-radius: 4px;

            background-image: none;
            background-color: transparent;

            -adwaita-focus-border-radius: 3;
            -adwaita-focus-fill-color: fade(@base_color, 20%);

            .adwaita_gradient(fade(darken(@toolbar_active_button_color, 25%), 90%),
                              fade(@toolbar_active_button_color, 62%));

            * {
                background-color: transparent;
            }

            &:hover {
                .gtk_gradient(fade(lighten(@toolbar_gradient_base, 14%), 70%),
                              fade(lighten(@toolbar_gradient_base, 24%), 0));
                border-radius: 4px;
                border-width: 1px;
                border-style: solid;
                border-color: #999;
                padding: 0px;
            }

            &:active {
                .gtk_gradient(fade(darken(@toolbar_gradient_base, 5%), 0%),
                              darken(@toolbar_gradient_base, 15%));
                color: #444;
                box-shadow: inset 1px 1px #ccc;

                &:hover {
                    .gtk_gradient(fade(darken(@toolbar_gradient_base, 4%), 70%),
                                  fade(lighten(@toolbar_gradient_base, 14%), 0));
                }
            }

            *:active {
                color:@fg_color;
            }
        }

        GtkSeparatorToolItem {
            color: #a1a1a1;
        }
    }
}

GtkSwitch {
    font: bold condensed 10;

    &.trough {
        color: #444;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: #888;
        border-image: none;

        background-color: #bbb;
        background-image: none;

        &:active {
            color: #fff;
            border-color: #555;

            .gtk_gradient(@menu_prelight_top, @menu_prelight_bottom);
        }
    }

    &.slider {
        border-width: 1px;
        border-radius: 3px;
        border-style: solid;
        border-color: #999;

        padding: 2px;

        .gtk_gradient(@button_hover_gradient_color_a,
                      @button_hover_gradient_color_b);

        -adwaita-switch-grip-color: #888;

        &:active {
            border-color: #444;
        }
    }
}

GtkViewport,
GtkIconView {
    border-radius: 3px;
    padding: 0px;
}

GtkIconView.view.cell:selected {
    &, &:focused {
        background-color: @selected_bg_color;
        border-radius: 4px;

        -adwaita-focus-border-color: @border_color;
        -adwaita-focus-border-radius: 3;
        -adwaita-focux-border-dashes: 0;
    }
}

.view {
    background-color: @base_color;
    color: @fg_color;
    border-radius: 0px;
}

GtkTreeView {
    /*
    -GtkTreeView-vertical-separator: 0;
    -GtkTreeView-expander-size: 17;

    -GtkWidget-focus-line-width: 1;
    -GtkWidget-focus-padding: 1;
    */

    -adwaita-focus-border-radius: 2;
    -adwaita-focus-border-dashed: 1;
    -adwaita-focus-border-color: mix(@selected_fg_color,
                                     @selected_bg_color, 30%);
}

column-header {
    padding: 1px 2px;

    .button {
        border-width: 0px 1px 1px 0px;
        border-radius: 0px;
        border-style: solid;

        border-image: -gtk-gradient(linear, left top, left bottom,
                                    from(@button_border),
                                    to(darken(@button_border, 23%))) 1 stretch;

        GtkArrow {
            color: @internal_element_color;
        }
    }

    &:nth-child(last) .button {
        border-width: 0px 0px 1px 0px;
    }
}

row {
    border-width: 0px;

    &, * {
        &:prelight {
            .gtk_gradient(lighten(@menu_prelight_top, 15%),
                          lighten(@menu_prelight_bottom, 15%));
        }
    }
}


.osd {

    GtkOverlay& {
        background-color: transparent;
    }

    &.trough {
        background-color: @selected_fg_color;
    }

    &.progressbar {
        background-color: @selected_bg_color;
    }
}

.header-bar {
   .title {
      font: Bold 11;
   }

   .subtitle {
      font : 9;
   }

   .button {
      .gtk_gradient(darken(#4E4941, 0.4), lighten(#4E4941, 0.5));

      border-color: #000;

      &:hover {
          .gtk_gradient(lighten(#4E4941, 10%), lighten(#4E4941, 10%));
      }

      &:focused {
          border-style: solid;
          border-radius: 2px;
          border-width: 1px;
      }

      &:insensitive {
          background-image: none;
          background-color: @insensitive_bg_color;
          color: @insensitive_fg_color;
      }

      &:active {
         &, &:focused {
            .gtk_gradient(@menu_prelight_top, @menu_prelight_bottom);
         }

         &:hover {
            .gtk_gradient(lighten(@menu_prelight_top, 10%),
                          lighten(@menu_prelight_bottom, 10%));
         }

         &:insensitive {
            .gtk_gradient(lighten(@menu_prelight_top, 25%),
                          lighten(@menu_prelight_bottom, 25%));
         }
      }
   }

   background-color: #4E4941;
   color: #e5e5e5;

   padding: 3px 3px 2px 3px;

}
